/* Import de fuente para el documento*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
/*font-family: 'Roboto Mono', monospace;*/
/* Reseteo inicial */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
    width: 100vw;
}
.container{
    width: 500px;
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    background: aqua;
    flex-flow:column;
    justify-content: center;
    align-items: center;

}

.form-class{
    margin: 10px;
    background: brown;
}


